:host {
  display: flex;
  flex-direction: column;
  align-content: start;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;

  .img {
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 33vh;
    .delete {
      position: absolute;
      height: 32px;
      width: 32px;
      transform: translateX(-32px);
      z-index: 99;
    }
    img {
      object-fit: cover;
    }
  }

  h1 {
    padding: 0.5rem 1rem;
  }

  .price {
    align-self: flex-end;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}
