<div class="header">
  <div class="title">
    <h2>Lista de Produtos</h2>
    <span class="_counter">{{ productStateService.totalProducts() }}</span>
  </div>
  <button class="btn _primary" (click)="createProduct()">
    Novo <span class="material-symbols-outlined">add</span>
  </button>
</div>
@if (productStateService.products(); as productList) { @if (productList.length >
0) {
<ul appInfiniteScroll (nearBottom)="isNearBottom()">
  @for (product of productList; track product.id) {
  <app-product [product]="product"></app-product>
  }
</ul>
} @else {
<p>Nenhum produto encontrado.</p>
} } @if(loadingService.isLoading()) {
<p>Carregando produtos...</p>
}
